body{
    background-color: white;
    text-align: center;
    justify-content: center;
}
.van3{
    background-color:rgb(4, 29, 109);
    position: absolute;
    top:0;right:0;left:0;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    border:1px solid white;
    padding: 10px 30px;
    border-radius:10px;
    text-transform: uppercase;
    font-weight: bold;
}.h1{
    color:blue;
    text-transform: capitalize;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.item{
    
    margin:2px;
    max-width:600px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}.section{
    border:2px solid rgb(4, 29, 109);
    border-radius:10px;
}
.legend{
    text-transform: capitalize;
    background-color:transparent;
    border:2px solid rgb(4, 29, 109);
    color:blue;padding:10px 40px;
    border-radius:10px;font-weight: bolder;
}.miss{
    width:95%;
    border-radius:10px;
}
.member{
    background-color:blue;
    width:max-content;
    position:fixed;
    bottom:10px;right:10px;
    padding:10px 20px;
    color:white;
    border-radius:10px;
    font-weight:bold;
    font-family:sans-serif;
}.heading{
    color:blue;
}.miss2{
    width:150px;border:1px solid grey;
    height:150px;border-radius: 100%;
    box-shadow:-7px -3px;
}.name{
    font-weight: bold;
    font-size: 20px;
    text-emphasis: underline;
    border-bottom: 1px solid black;
}.miss3{
    width:95%;
}.materials{
    
}.don{
    position:fixed;
    width:0;
    background-color:rgb(205, 205, 212);
    border-radius:10px;
    overflow-y: scroll;
    overflow: hidden;
    z-index: 1;
}
.contribute1{
    cursor: pointer;
}
.mine{
    background-color:green;
    color:white;
    padding:10px 20px;
    border:0;
    border-radius:10px;
}.popup-paragraph{
    padding:10px;
}.inner-set{
    border-radius:10px;
    margin-left: 10px;
    margin-right:10px;
    text-align: center;
    display: flex;
    justify-content: center;
}.inner-leg{
    color:grey;text-transform: capitalize;
}.item-donated{
    width:50%;
    padding:10px;
    border-radius:10px;border:0;
    color:green;
}.donate-item{
    background-color: grey;color:white;
    padding:10px;
    border-radius:10px;
    cursor:pointer;
    border:0;
}#info{
    color:red;
    font-weight: bold;
    text-transform: capitalize;
}
#donateItem-{
    position: fixed;
    width:90%;
    top:50px;
    height:0;
    overflow: hidden;
    z-index: 1;
    border-radius:10px;
    background-color: rgb(4,19,105);
    justify-content: center;
    color:black;
    
}[role="display"]{
    height:200px;
}

@media (width<450px) {
    #donateItem-{
        width:95%;
    }
}@media (width>495px) {
    #donateItem-{
        width:80%;
    }
}
[target]{
    background-color:rgb(4, 29, 109);
    color:white;
    text-transform: capitalize;
    border-radius:10px 10px 0 0;
}
.lists{
    width:90%;
    margin:5px;
    height:300px;
    background-color:white;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    padding:10px;
    margin-top:50px;
    border-radius:10px;
    scrollbar-color: green;
    .list{
        width:95%;
        border:1px solid grey;
        height:90%;
        border-radius:10px;
        margin:2px;
        height: max-content;
    }#itemName{
        font-weight:bolder;
        border-bottom:1px solid grey;
    }
}[role="image"]{
    width:300px;
}[role="but"]{
    background-color:green;
    color:white;
    padding:10px 30px;
    font-weight: bold;
    font-size:15px;
    border:0;
    border-radius:10px;
}[role="exit"]{
 position: absolute;
 right:10px;
 top:10px;
 color:white;
 background: transparent;
 border:0;
 font-size:20px;
 font-weight:bold;   
}[role="heading"]{
    font-weight:bolder;
    font-size:20px;
}[role="second-field"]{
    border-radius:10px;
    border:0;
    border-top: 1px solid;
    /*---------*/
    
}[src$=".png"]{
    width:80%;
}
[role="legend"]{
    text-transform: capitalize;
    font-weight:bolder;
    color:grey;
}[role="office"]{
    background-color:white;
    border-radius:10px;
    border:1px solid blue;
}#officer-name{
    background-color: blue;
    border-radius:10px 10px 0 0;
    color:white;
    font-weight: bold;
    text-transform: capitalize;
    padding:10px;
}[role="admin"]{
    border-radius:100%;
    width:150px;
    height:150px;
    border:1px solid;
}[role="ask"]{
    background-color:blue;
    padding:10px 20px;border:0;
    border-radius:10px;
    color:white;
    font-weight: bold;
    font-size:15px;
}[value="announce"]{
    color:blue;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
    
}[role="links"]{
    border:5px solid;
    border-top:0;
    border-radius:0 0 40px 40px;
}.button-registra{
    background-image: radial-gradient(blue,black);
    background-position-y: bottom;
    padding:10px;
    border-radius:0 0 30px 30px;
}#r-collector{
    background-color:transparent;
    color:white;
    border:1px solid white;
    margin:5px;
    padding:10px 20px;
    border-radius:10px;
}
.nav-bottom{
    background-color: rgb(53, 51, 51);
    padding:10px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    margin-bottom:-10px; 
    margin-top:20px;
    .item-{
        width:max-content;
        padding:10px;
        flex-grow: 1;
        flex-basis: 200;
    }
}

[role="tit"]{
    color:red;
    font-size:100px;
    text-transform: uppercase;
    font-weight:bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    rotate:-5deg;
    text-shadow:5px 5px 7px white;
    background-color: rgb(4, 29, 109);
    width:97%;
    height:300px;
    padding-bottom:20px;
    border-radius:0 0 120px 0;
    text-align: center;
}[role="design"]{
    width:100px;
    height:100px;
    background-color:red;
    position:absolute;
    top:180px;
    border-radius:100%;
    left:-30px;
    border:4px solid white;
    animation:bounce 1s linear infinite;
    
}

@keyframes bounce {
    0%,10%{
        transform: translateY(0);
    }
    70%{transform: translateY(-15px);}
    80%{text-replace: translateY(-10px);}
}
#reachOut{
    padding:10px;
    border-radius:10px;
    background-color: green;
    color:white;
    border:2px solid transparent;
    font-weight: bold;
    font-size: 20px;
    margin-top:5rem;
}#reachOut:hover{
    background-color: rgb(46, 235, 46);
    color:black;
    border:2px solid black;
}#quit{
    background-color: transparent;
    color:white;
    padding:10px 20px;
    border-radius:10px;
    font-size:15px;
    border:1px solid white;
}
.memberShip{
    position:fixed;
    background-color:rgb(7, 23, 116);
    border-radius:10px;
    display: flex;
    justify-content: center;
    text-align: center;
    width:80%;
    height:0;
    overflow: hidden;
    top:0;
}
[role="memberShipHead"]{
    border-bottom: 2px solid white;
    padding:10px;color:white;
    text-transform:capitalize;
    font-weight:bold;
    font-size:large;
}[role="information"]{
    color:white;
    font-weight: bold;
    font-size: large;
    text-transform: capitalize;
}[role="fieldset"]{
    border-radius: 10px;
    padding:10px;
    text-align: center;
}
#form{
    width:85%;
}
.input1{
    padding:10px 20px;
    background-color: transparent;
    border:0;
    border-bottom:2px solid white;
    margin:5px;
    color:white;
}.input2{
    border-radius:10px;
    background-color:black;
    border:0;
    padding:10px;
    height:200px;
    width:max-content;
    color:greenyellow;
    margin-top:10px;   
}.input3{
    background-color:transparent;
    color:white;
    border:1px solid white;
    padding:10px 30px;
    border-radius:10px;
    margin-top:10px;
}#r-collector:active{
    background-color:blue;
}[role="popup"]{
    background-color:red;
    padding:20px;
    margin-top:0;
    color:white;
    font-weight:bold;
    font-size:25px;
    text-transform: capitalize;
}#pop{
    position:fixed;
    left:20%;
    right:20%;
    top:20px;
    height:0;
    overflow: hidden;
    border-radius:10px;
    text-align: center;
    color:black;
    z-index: 1000;    
    background-color:rgb(250, 222, 222);
}#timer{
    color:green;
    font-weight:bolder;
}.body2{
    background-color:white;
    text-align: center;
}[role="container"]{
    display: flex;
    justify-content: center;
}[role="sponsor"]{
    color:blue;
    font-weight:bolder;
    font-size:22px;
    text-transform:capitalize;
}
.center{
    display: flex;
    justify-content: center;
}#sponsor{
    width:80%;
    border-radius:50px;
}[role="city-store"]{
    background-color:black;
    margin-top:10px;
    padding:10px;
    border-radius:10px;
    border:1px solid red;
    color:yellow;
    font-weight:bold;
}i{
    font-size:20px;
    color:white;
    border:1px solid white;
    padding:10px;
    border-radius:100%;
    margin:5px;
}[role="footer"]{
    font-size:12px;
    font-style: italic;
    color:grey;
}.item-{
    color:white;
}#sms{
    background-color: rgb(68, 147, 212);
    color:white;
    padding:10px;
    border-radius:10px;
    border:0;
    font-weight:bolder;
    font-size:15px;
}#helper{
    position: absolute;
    bottom:20px;
    right:50px;
    background-color:black;
    width:230px;
    height:0;
    border-radius:10px 10px 0 10px;
    overflow: hidden;
    transition:1s;
}